.only-mobile{ display: none;}
.only-desktop{ display: block !important;}




header{ height: 55px;}
header .logo{ width: 116px;}
header .ic_menu{ display: none;}
header .menu{ display: inline-block; margin-left: 60px; width: initial; margin-top: initial;}
header .menu ul li { list-style: none; background: rgba(0,0,0,0.5); padding: 8px 0; display: inline-block;}
header .menu ul li a{ padding: 8px 40px; font-size: 1.2em;}
































































































































