/*GENERAL*/
*{ margin: 0; padding: 0; box-sizing: border-box;}
html, body{ height: 100%;}
body{ position: relative;}
a{ cursor: pointer !important;}
.hidden{ display: none !important;}
.wrap{ width: 90%; margin: 0 auto; position: relative;}
.only-mobile{ display: block;}
.only-desktop{ display: none;}


/*ICONS*/
.ic_menu{ background: #fff;display: block; width: 40px; height: 40px; border-radius: 10px; background-image: url('../images/icons/menu.svg'); background-repeat: no-repeat;}


/*HEADER*/
header{ position: relative; z-index: 3; width: 100%; padding: 10px 0 0; background-color: rgba(0,0,0,0.8);}
header .logo{ width: 90px; margin-left: 5%;}
header .ic_menu{ position: absolute; right: 20px; top: 10px;}
header .menu{ display: none; text-align: center; transition: all 1s; }
header .menu ul li:nth-child(1){ border-top: 1px solid #4C355B; }
header .menu ul li{ background-color: rgba(129, 28, 212, 0.1); border-bottom: 1px solid #4C355B; list-style: none; padding: 10px 0;}
header .menu ul li:hover{ background: rgba(0,0,0,0.2);}
header .menu ul li a{ display: block; color: #fff; text-decoration: none; font-size: 0.9em;}
#btn-menu:checked ~ .menu{ display: block; transition: all 1s;}

/*HOME*/
section.home{ height: 100%; width: 100%; position: fixed; top: 0; left: 0;}
section.home .slider{ height: calc(100% - 60px);}
section.home .slider img{ height: 100%;}

/*FOOTER*/
footer{ position: absolute; bottom: 0; width: 100%; padding: 20px 0; background-color: #000;}
footer .wrap{ position: relative;}
footer .wrap > *{ font-size: 0.8em; color: #fff; display: block; text-align: center; }
footer .creator{ text-decoration: none; transition: all 0.3s;} 

























































































































































